<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          href="../webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/board/add}'|"
                    type="button">글 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>등록일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="item.html" th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}">글ID</a></td>
                <td><a href="item.html" th:href="@{/board/{id}(id=${board.id})}" th:text="${board.subject}">제목</a></td>
                <td th:text="${board.writer}">작성자</td>
                <td th:text="${board.contents}">내용</td>
                <td th:text="${board.createdDate}">등록일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
<nav style="text-align: center" th:with="start=${(boards.number/maxPage)*maxPage + 1},
                  end=(${(boards.totalPages == 0) ? 1 : (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)})" >

        <ul>
            <li th:if="${start > 1}">
                <a th:href="@{/list?(page=0)}" th:text="'<<'"></a></li>
            </li>

            <li th:if="${start > 1}">
                <a th:href="@{/list?(page=${start - maxPage})}" th:text="'<'"></a>
            </li>


            <li th:each="page: ${#numbers.sequence(start, end)}">
                <a th:href="@{/list?(page=${page-1})}" th:text="${page}"></a></li>
            </li>

            <li th:if="${end < boards.totalPages}">
                <a th:href="@{/list?(page=${start + maxPage})}" th:text="'>'"></a>
            </li>

            <li th:if="${end < boards.totalPages}">
                <a th:href="@{/list?(page=${boards.totalPages-1})}" th:text="'>>'"></a></li>
            </li>
        </ul>


    </ul>
</nav>
</body>
</html>