<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: headerFragment"></div>
</head>

<div class="mt-5 mb-5 ms-5">
    <p class="fs-1">커뮤니티 관리</p>
</div>

<table class="table table-bordered" style="margin: 0 auto;">
    <colgroup>
        <col style="width:20%;">
        <col style="width:auto;">
        <col style="width:20%;">
        <col style="width:auto;">
    </colgroup>
    <tr>
        <th scope="col" style="text-align: center;">제목</th>
        <td colspan="3" th:text="${board.subject}"></td>
    </tr>
    <tr>
        <th scope="col" style="text-align: center;">No</th>
        <td colspan="3" th:text="${board.id}"></td>
    </tr>
    <tr>
        <th scope="col" class="align-middle" style="text-align: center;">내용</th>
        <td colspan="3" th:text="${board.contents}" style="height: 500px;"></td>
    </tr>
    <tr>
        <th scope="col" style="text-align: center;">등록자</th>
        <td th:text="${board.writer}"></td>
        <th scope="col" style="text-align: center;">삭제여부</th>
        <td th:text="${board.delete}"></td>
    </tr>
    <tr>
        <th scope="col" style="text-align: center;">등록일</th>
        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <th scope="col" style="text-align: center;">수정일</th>
        <td th:text="${#temporals.format(board.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
</table>

<div class="mt-5 mb-5" style="text-align: center;">
    <a th:href="@{/articles}" class="btn btn-secondary">목록</a>
    <a th:href="@{/articles/{id}/delete(id = ${board.id})}" class="btn btn-danger">삭제</a>
    <a th:href="@{/articles/{id}/edit(id = ${board.id})}" class="btn btn-primary">수정</a>
</div>

<footer>
    <div th:replace="/fragments/footer.html :: footerFragment"></div>
</footer>

</body>
</html>